/*!
* © Devsfront
* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
*---------------------------------------------
*
* MAIN.CSS
*
*/

/* Font ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* VARIABLES ********************************************* */

:root{

    /* color */
    --color-principal: #9d0fbb;
    --color-secondaire: #cf2224;
    --color-paragraphe: #abacae;
    --color-black: #000;
    --color-white: #fff;

    /* Autre */
    --transition: .5s;
    
    --shadow-btn: 0px 0px 30px 0px rgba(53,56,240,0.5);
    --shadow-btn-red: 0px 0px 30px 0px #cf22256e;
    --shadow-business: 0px 0px 30px 0px rgba(0,0,0,0.16);
    --shadow-card-radius: 0px 0px 20px 0px rgba(0,0,0,0.13);
    --shadow-testamonial: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}


/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button{
    text-transform: capitalize;
}

button:focus{
    outline: none;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h1,
h2,
h3{
    font-weight: bold;
    text-transform: capitalize;
}


/* INDEX ************************************ */
/* INDEX ************************************ */
/* INDEX ************************************ */

/* HEADER ************* */

.navigation{
    position: sticky;
    top: 0;
    background: white;
    min-height: 6.7rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    z-index: 9;
    padding: .5rem 2rem;
}

.navigation .nav-title{
    float: left;
}

.navigation .nav-title img{
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: .8rem;
}

.navigation ul{
    float: right;
    display: inline;
    margin-bottom: 0;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 1.5rem;
    transition: var(--transition);
}

.navigation ul li:hover{
    background: #9e0fbba4;
    transition: var(--transition);
    border-radius: .3rem;
}

.navigation ul li a{
    color: black;
    text-decoration: none;
}

.navigation ul li:hover a{
    color: white;
}

.navigation .responsive-bar{
    display: inline-block;
    float: right;
    display: none;
}

.navigation .responsive-bar button{
    width: 5rem;
    background: transparent;
    border: none;
}

.navigation .responsive-bar button img{
    height: 4rem;
    margin-top: .8rem;
}

header .content-header{
    min-height: calc(100vh - 6.7rem);
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url("../images/bg/bg.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .content-header .item-content{
    text-align: center;
}

header .content-header .text-content{
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

header .content-header .litte-text{
    color: rgba(255, 255, 255, 0.925);
    text-transform: uppercase;
    margin: -2rem 0 3rem;
}

header .content-header .btn-box button{
    background: transparent;
    border: 1px solid var(--color-white);
    border-radius: 5rem;
    padding: .5rem 2rem;
    margin: 0 1rem;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}

header .content-header .btn-box button:hover{
    background: var(--color-white);
    color: black;
    transition: var(--transition);
}


/* SECTION PROPOS */
#propos{
    min-height: 35rem;
    padding: 4rem 0;
}

#propos .title-propos{
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

#propos .title-propos::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 3px;
    background: var(--color-principal);
}

#propos .img-propos{
    position: sticky;
    top: 7rem;
}

#propos .img-propos img{
    height: 45rem;
}

#propos .text-propos h2{
    margin-bottom: 2rem;
}

#propos .text-propos p{
    color: var(--color-paragraphe);
    margin-bottom: 3rem;
}

#propos .text-propos button{
    background: transparent;
    border: 1px solid var(--color-principal);
    border-radius: 5rem;
    padding: .5rem 2rem;
    margin: 0 1rem;
    color: var(--color-principal);
    cursor: pointer;
    transition: var(--transition);
}

#propos .text-propos button:hover{
    background: var(--color-principal);
    color: var(--color-white);
    transition: var(--transition);
}


/* SECTION SERVICE */

#service{
    background: #f9f9f9;
    padding: 4rem 0;
    min-height: 25rem;
}

#service h1{
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

#service h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 3px;
    background: var(--color-principal);
}

#service .item-service{
    background: #fff;
    margin: 15px 0;
    padding: 2rem;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

#service .item-service img{
    height: 5rem;
}

#service .item-service h2{
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 2rem;
}

#service .item-service p{
    color: #abacae;
    font-size: 1.7rem
}


/* SECTION PERSONNELS */
#personnels{
    padding: 4rem 0;
    min-height: 35rem;
}

#personnels h1{
    color: var(--color-principal);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    position: relative;
}

#personnels h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 3px;
    background: var(--color-principal);
}

#personnels .card-personnels{
    position: relative;
    min-height: 20rem;
}

#personnels .card-personnels img{
    width: 100%;
    height: 25rem;
    filter: grayscale(1);
    transition: var(--transition);
}

#personnels .card-personnels:hover img{
    filter: grayscale(0);
    transition: var(--transition)
}

#personnels .card-personnels .personnels-info{
    position: absolute;
    bottom: 8%;
    min-width: 70%;
    background-color: rgba(17, 17, 17, 0.5);
    overflow: hidden;
    padding: 1rem 1.5rem .5rem;
    color: white;
    z-index: 1;
    transition: var(--transition);
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
    line-height: 1rem;
}

#personnels .card-personnels:hover .personnels-info{
    padding-left: 5rem;
    padding-right: 4rem;
    transition: var(--transition);
}

#personnels .card-personnels .personnels-info h3{
    font-size: 2rem;
    font-weight: bold;
}

#personnels .card-personnels .personnels-info p{
    font-size: 1.4rem;
}

#personnels .card-personnels .personnels-info a{
    margin: 0 .5rem;
}

#personnels .card-personnels .personnels-info a img{
    height: 1.5rem;
    width: 1.5rem;
    filter: grayscale(0);
}


/* SECTION ACTION */

#action{
    padding: 10rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url("../images/bg/testi-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#action .content-action h1{
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: white;
}

#action .content-action button{
    color: var(--color-white);
    background: transparent;
    border-radius: 5rem;
    border: 1px solid var(--color-principal);
    padding: .5rem 2.5rem;
    transition: .5s;
}

#action .content-action button:hover{
    background: var(--color-principal);
    transition: .5s;
}

#action .modal{
    color: black;
}

#action .modal .modal-header{
    padding: 2rem;
    color: white;
    background-color: var(--color-principal);
}

#action .modal .modal-body{
    padding: 2rem;
}

#action .modal .modal-header button{
    border: none;
}

#action .modal .modal-header img{
    height: 2.5rem;
    margin-top: .5rem;
}

#action .modal form input,
#action .modal form textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.596);
}

#action .modal form input:focus,
#action .modal form textarea:focus{
    border: 1px solid var(--color-principal);
}

#action .modal form textarea{
    min-height: 15rem;
}

#action .modal form button{
    border-radius: 0;
    color: black;
    margin-left: .5rem;
    padding: .5rem 4rem;
}


/* SECTION GALERIE */

#galerie{
    min-height: 30rem;
    padding: 4rem 0;
    background: #f9f9f9;
}

#galerie h1{
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

#galerie h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 3px;
    background: var(--color-principal);
}

/* filter tabs */
.filter__tabs{
    margin-top: 2rem;
}

.portfolio-container {
    width:100%;
    display:flex;  
    flex-wrap:wrap;
    margin: 5% auto;
}

.portfolio__item{
    margin-bottom: 2rem;   
}

.portfolio__item img{
    width: 100%;
}
  
.filter__btn {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000;
    cursor:pointer;
    text-transform: uppercase;
    background: #fff;
    outline: none;
    border: 2.0px solid var(--color-principal);
    margin-right: 2%;
    margin-bottom: 1rem;
    transition: box-shadow .2s;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -ms-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
}

.filter__btn.is-active {
    background-color: var(--color-principal);
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.192);
}

.filter__btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.116);
}

.filter__btn:active {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}


/* SECTION PARTENAIRE */

#partenaire{
    min-height: 20rem;
    padding: 4rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url("../images/bg/testi-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#partenaire h1{
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

#partenaire h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 3px;
    background: var(--color-principal);
}

#partenaire .item-partenaire img{
    height: 20rem;
    width: 20rem;
    margin: 4rem auto 2rem;
}

#partenaire h3{
    margin-bottom: 2rem;
}

#partenaire .owl-theme .owl-nav{
    display: none;
}


/* SECTION CONTACT */

#contact{
    padding: 4rem 0;
    background: #f9f9f9;
    min-height: 30rem;
}

#contact h1{
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

#contact h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 3px;
    background: var(--color-principal);
}

#contact .card-contact{
    padding: 3rem;
    margin-bottom: 3rem;
    background: white;
    min-height: 10rem;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

#contact .card-contact img{
    height: 4rem;
    margin-bottom: 2rem;
}

#contact .form-contact{
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    padding: 2rem 1.5rem;
    min-height: 35rem
}

#contact .form-contact form input,
#contact .form-contact form textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-principal);
    border-radius: .3rem;
    outline: none;
    font-size: 1.6rem;
}

#contact .form-contact form textarea{
    min-height: 10rem;
}

#contact .form-contact form button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .7rem 5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

#contact .form-contact form button:hover{
    background: black;
    transition: .5s;
}

#contact .localisation{
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    min-height: 35rem;
}

#contact .localisation iframe{
    height: 34rem;
    width: 100%;
}


/* footer */

footer{
    background: var(--color-black);
    color: var(--color-white);
    min-height: 7rem;
    padding: 3rem 0;
    text-align: center;
}

footer a img{
    height: 3rem;
    margin: 0 1rem;
}

footer .copyright{
    margin-top: 1rem;
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

footer .copyright::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0; 
    transform: translate(-50%); 
    height: 2px;
    width: 15%;
    background: var(--color-white);
}

footer .contain-footer hr{
    height: 1px;
    width: 8%;
    background: var(--color-white);
    margin: auto;
}




/* MEDIA QUERY ******************************* */
/* MEDIA QUERY ******************************* */
/* MEDIA QUERY ******************************* */

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    #personnels .card-personnels img{
        margin-bottom: 3rem;
    }

    #personnels .card-personnels .personnels-info{
        min-height: 10rem;
        bottom: 15%;
    }
}

@media screen and (max-width: 980px){
    .navigation .responsive-bar{
        display: block;
    }

    .navigation ul{
        padding-top: 3rem;
        display: none;
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-top: 6rem;
        background: white;
    }

    .navigation ul li{
        display: block;
        border-bottom: 1px solid var(--color-principal);
    }

    .navigation .b-top{
        border-top: 1px solid var(--color-principal);
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.5rem;
    }

    header .content-header{
        min-height: 70vh;
    }

    #propos .img-propos img,
    #contact .form-contact{
        margin-bottom: 3rem;
    }

    #propos .img-propos img{
        height: 30rem;
    }
}

@media screen and (max-width: 576px){
    .navigation{
        padding: .5rem 1rem;
        min-height: 5.7!important;
    }

    .navigation .responsive-bar button img{
        height: 3rem;
        margin-top: 1.5rem;
    }

    .navigation .nav-title img{
        margin-left: 0;
        margin-top: 1rem;
        height: 3.5rem;
    }

    header .content-header .text-content{
        font-size: 4rem;
    }

    header .content-header .litte-text{
        margin-top: 0;
    }
}